.App {
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;

  /* opacity: 1; */
  color: black !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '❮' !important;
}
[dir='rtl'] .slick-prev:before {
  content: '❯' !important;
}

.slick-next {
  right: -25px;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '❯' !important;
}
[dir='rtl'] .slick-next:before {
  content: '❮' !important;
}

/* .slick-slide {
  height: 100% !important;
}
.slick-slide img {
  height: 100% !important;
}

.slick-list {
  height: 100% !important;
}
.slick-track {
  height: 100% !important;
} */
